$color--warning: red;
$color--gray: red;
$color--white: red;
$color--light: red;
$color--dark: red;

 button.btn, a.btn {
  padding: 10px;
  border-radius: 5px;
  text-decoration: unset;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.15s; // Плавность для фона и текста
  color: color(dark);
   background-color: $color--gray;

  @media #{$sm} {
    font-size: 0.8rem;
  }

  @media #{$xs} {
    font-size: 0.75rem;
  }

   &:hover {
     color: $color--dark;
     background-color: $color--warning;

     & span {
       transform: scale(1.05);
       display: block;
     }
   }


  &:active {
    background: $color--dark;
    transform: translate(0em, 0.75em);
    color: $color--white;

    &::before {
      left: 0;
      top: 0;
      box-shadow: unset;
      transform: translate3d(0, 0, -1em);
    }

  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 3px;
    right: 0;
    bottom: 0;
    background: color(white);
    border-radius: inherit;
    transform: translate3d(0, 0.3em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
  }

  &--link {
    color: $color--dark;
    background-color: $color--warning;
    text-decoration: unset;
    padding: 5px 10px;
    text-transform: unset;

    &:hover {
      background-color: $color--dark;
      color: $color--white;
    }

    &:active {
      background: #979797;
      color: $color--white;
    }
  }

  &--light {
    color: $color--dark;
    background-color: $color--white;

    @media #{$xs} {
      font-size: 0.65rem;
    }

    &:hover {
      background-color: $color--light;
    }

    &:active {
      background: #979797;
      color: $color--white;
    }
  }

   &--default {
     border: 1px solid black;
   }

   &--pixel {
     border: none;
     display: flex;
     box-shadow: inset 3px 3px 0 #fff, inset -3px -3px 0 #666;

     &::before {
       top: -1px;
     }

     &:hover {
       background-color: unset;
       border: none;
     }

     &:active {
       background: $color--dark;
       transform: translate(0em, 0.25em);
       color: $color--white;

       &::before {
         left: 0;
         top: 0;
       }

     }
   }
}
.v-btn {
  $this: &;


  &--active {
    box-shadow: inset 3px 3px 0 #fff, inset -3px -3px 0 #666;
    background: $color--dark !important;
    transform: translate(0em, 0.25em);
    color: $color--white !important;

    &::before {
      left: 0 !important;
      top: -3px !important;
    }

    span {
      transform: scale(1.05);
    }


  }
}
