.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  flex-wrap: wrap;
  width: 100%;

  button {
    padding: 8px 16px;
    border: 1px solid black;
    background-color: color(white);
    color: black;
    cursor: pointer;
    border-radius: 4px;
    min-width: 40px;
    text-align: center;

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled):not(.active) {
      background-color: red;
    }
  }
}