.toggle {
  cursor: pointer;
  position: relative;
  width: 64px;
  height: auto;
  background-color: transparent;
  transform: scale(1.1);
  margin-left: auto;

  &:hover {
    &::before {
      background-color: #f5deb3;
      opacity: 0.1;
    }

    & svg {
      transform: scale(1.1);
    }
  }

  &:active {
    & svg {
      transform: scale(1.2);
    }

    &::before {
      background-color: transparent;
    }

    &::after {
      background-color: #f5deb33d;
      border-radius: unset;
    }
  }

  &::before, &::after {
    content: "";
    position: absolute;
    height: 53px;
    top: 0;
    right: 0;
    width: 60px;
  }
   
  & svg {
    width: 100%;
    height: auto;
  }

  & path {
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
    fill: none;
    stroke: color(white);
    stroke-dashoffset: 0;
    stroke-linecap: square;
    stroke-width: 45px;

    &.top,
    &.bottom {
      stroke-dasharray: 240px, 950px;
    }

    &.middle {
      stroke-dasharray: 240px, 240px;
    }
  }

  &--open {
    & path {
      &.top, &.bottom {
        stroke-dashoffset: -650px;
      }

      &.middle {
        stroke-dasharray: 1px, 220px;
        stroke-dashoffset: -115px;
      }
    }
  }
}