$background-color: rgba(50, 49, 54, 0.8509803922);
$info__background-color: color(white);

.footer {
  background-color: $background-color;
  color: color(white);
  margin-top: auto;
  width: 100%;

  .v-toolbar {
    &-items {
      align-items: center;
    }
  }

  &__desc {
    font-size: 0.7rem;
    opacity: 0.80;
    color: inherit;
  }

  &__info {
    align-items: center;
    background-color: $info__background-color;
    color: color(dark);
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    margin-top: 10px;
  }

  &__divider  {
    width: 100%;
    opacity: 0.1;
    border: 3px dashed wheat;
  }

  .social-icons {
    margin-left:  auto;
    @media #{$xs} {
      margin: auto;
    }
  }

  .name-user {
    margin-left: auto;
  }
}