$background-color: red;
$color: red;
$name-user__color: red;

$nav__background-color: #323136;
$nav__color: color(cream);

$topbar__background-color: color(transparent);

.v-app-bar.v-toolbar.header {
  background-color: #323136d9;
  color: $color;

  .name-user {
    color: $name-user__color;
    font-size: 0.875rem;
  }
}

nav.nav {
  background-color: $nav__background-color;
  color: $nav__color;
}

.v-toolbar {
  &-items {
    column-gap: 15px;
    align-items: center;


    & .v-btn {




      @media #{$sm} {
        font-size: 0.8rem;
      }

      @media #{$xs} {
        font-size: 0.75rem;
      }
    }
  }
}

.v-navigation-drawer  {
  &__content {
     .v-list {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 25px 15px;
      }
    }


  &__scrim {
    cursor: pointer;

    @media #{$min-md} {
        display: none;
    }
  }

  .social-icons {
    margin-top: 25px;
    justify-content: center;
  }
}

