$headline__color: color(white);
$desc__color: color(white);

.hero {
  padding: 100px 0;
  text-align: center;
  background-position: center;
  background-size: cover;

  @media #{$sm} {
    padding: 50px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headline {
    color: $headline__color;
    font-size: clamp(2rem, 5vw, 7rem); // Минимум 2rem, идеально 5vw, максимум 4rem
    line-height: 1.3;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 65px;
  }

  &__desc {
    color: $desc__color;
    opacity: 0.9;
    font-size: clamp(1rem, 2vw, 2rem); // Минимум 2rem, идеально 5vw, максимум 4rem
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  & .name-user {
    margin-bottom: 75px;
  }

  .btn {
    padding: 15px 25px;
  }
}