$grid-breakpoints: (
        xs: 0,
        sm: 960px,
        md: 1280px,
        lg: 1920px,
        xl: 2560px,
        xxl: 4000px
) !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1450px
) !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$xs: '(max-width: 600px)' !default;
$sm: '(max-width: #{map-get($grid-breakpoints , sm)})' !default;
$md: '(max-width: #{map-get($grid-breakpoints, md)})' !default;
$lg: '(max-width: #{map-get($grid-breakpoints, lg)})' !default;
$xl: '(max-width: #{map-get($grid-breakpoints, xl)})' !default;
$xxl: '(max-width: #{map-get($grid-breakpoints, xxl)})' !default;
$min-xs: '(min-width: 600px)';
$min-sm: '(min-width: #{map-get($grid-breakpoints, sm)})' !default;
$min-md: '(min-width: #{map-get($grid-breakpoints, md)})' !default;
$min-lg: '(min-width: #{map-get($grid-breakpoints, lg)})' !default;
$min-xl: '(min-width: #{map-get($grid-breakpoints, xl)})' !default;
$min-xxl: '(min-width: #{map-get($grid-breakpoints, xxl)})' !default;